@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Poppins:wght@300;400;500;700&display=swap");
html {
  display: flexbox;
}

html ::-moz-selection {
  color: white;
  background-color: black;
}

html ::selection {
  color: white;
  background-color: black;
}

body .safari-trash {
  border-radius: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: 500;
}

h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-size: 72px;
}

p {
  font-weight: 300;
  font-size: 22px;
}

.center-container {
  width: 100vw;
  max-width: 1536px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.top-section #svg-logo {
  width: calc(18em * 1.4136038186);
  height: 18em;
  margin: -4.8em 0 0 -5em;
  -webkit-filter: drop-shadow(0.4em 0.4em 1.5em #b4b4b4);
          filter: drop-shadow(0.4em 0.4em 1.5em #b4b4b4);
}

.top-section .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  padding: 2em 3em 0 0;
  margin: 0;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-section .navbar li {
  margin: 0 2.4em 0 0;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  cursor: pointer;
}

.top-section .navbar li a {
  color: black;
}

.top-section .navbar .join-btn {
  padding: 0.3em 2em;
  margin: 0;
  background-color: #012765;
  border-radius: 2em;
  -webkit-box-shadow: 0.4em 0.4em 1.5em #b4b4b4;
          box-shadow: 0.4em 0.4em 1.5em #b4b4b4;
  cursor: pointer;
}

.top-section .navbar .join-btn a {
  color: white;
}

.hero-block {
  margin: 10em 0 0 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-block .title {
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.hero-block p {
  width: 25em;
  margin: 0.6em 0 0 0.2em;
}

.hero-block .hero-join {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.3em 2em;
  margin: 1em 0 0 0;
  background-color: #b30c33;
  color: white;
  border-radius: 2em;
  cursor: pointer;
  -webkit-box-shadow: 0.4em 0.4em 1.5em #b4b4b4;
          box-shadow: 0.4em 0.4em 1.5em #b4b4b4;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.hero-block .hero-join:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#red-blob {
  -ms-flex-item-align: end;
      align-self: flex-end;
  z-index: -2;
  margin: -10em -10em;
  width: 35em;
  -webkit-filter: drop-shadow(0.4em 0.4em 1.5em #b4b4b4);
          filter: drop-shadow(0.4em 0.4em 1.5em #b4b4b4);
}

.even-cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.even-cont .even {
  width: calc(100% - 16em);
  margin: 15em 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.even-cont .even .even-block {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.even-cont .even .even-block h1 {
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.even-cont .even .even-block p {
  width: 25em;
  margin: 0.6em 0 0 0.2em;
}

.odd-cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.odd-cont .odd {
  width: calc(100% - 16em);
  margin: 15em 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.odd-cont .odd .odd-block {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.odd-cont .odd .odd-block h1 {
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.odd-cont .odd .odd-block p {
  width: 25em;
  margin: 0.6em 0 0 0.2em;
}

#polarization-graph {
  height: 100%;
  width: 18em;
  -webkit-filter: drop-shadow(0.2em 0.2em 0.8em #d3d3d3);
          filter: drop-shadow(0.2em 0.2em 0.8em #d3d3d3);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#glaciers {
  width: 36em;
  -webkit-filter: drop-shadow(0.2em 0.2em 0.8em #d3d3d3);
          filter: drop-shadow(0.2em 0.2em 0.8em #d3d3d3);
}

#handshake {
  width: 32em;
  -webkit-filter: drop-shadow(0.2em 0.2em 0.8em #d3d3d3);
          filter: drop-shadow(0.2em 0.2em 0.8em #d3d3d3);
}

.mountains {
  margin: 25em 0 -0.1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1536px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mountains #left-mnt {
  width: 12em;
  height: calc(12em / 2.33995663);
}

.mountains #right-mnt {
  width: 12em;
  height: calc(12 / 2.203629) em;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top {
  background-color: #272b42;
  height: 4.2em;
}

.top .sections {
  width: 25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top .sections a {
  font-weight: 400;
  margin: 0;
  font-size: 1.2em;
  color: #c0c1ca;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.top .sections a:hover {
  color: #f6f6ff;
}

.bottom {
  background-color: #181b29;
  height: 3em;
  border-top: #5f6069 1px solid;
  margin: 0;
}

.bottom .contents {
  width: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  max-width: 1536px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom .contents #footer-logo {
  width: 4.5em;
  cursor: pointer;
  height: calc(4.5em / 2.39458422);
}

.bottom .contents .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5.6em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom .contents .social-icons a {
  height: 1em;
}

.bottom .contents .social-icons a svg {
  height: 1em;
}

.bottom .contents p {
  margin: 0;
  color: #c0c1ca;
  font-size: 1em;
  margin-left: auto;
}
/*# sourceMappingURL=main.css.map */