@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Poppins:wght@300;400;500;700&display=swap");
$blue: #012765;
$red: #b30c33;
$offwhite: #efefef;
$mainshadow: 0.4em 0.4em 1.5em #b4b4b4;
$greypurple: #c0c1ca;
$purple: #272b42;
$darkpurple: #181b29;

html {
  display: flexbox;
  ::selection {
    color: white;
    background-color: black;
  }
}

body{
  border-radius: border-box;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html .safari-trash {
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: 500;
}

h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-size: 72px;
}

p {
  font-weight: 300;
  font-size: 22px;
}

.center-container {
  width: 100vw;
  max-width: 1536px;
  display: flex;
  flex-direction: column;
}

.top-section {
  display: flex;
  justify-content: space-between;
  width: 100%;

  #svg-logo {
    width: calc(18em * 1.4136038186);
    height: 18em;
    margin: -4.8em 0 0 -5em;
    filter: drop-shadow($mainshadow);
  }

  .navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 2em 3em 0 0;
    margin: 0;
    height: min-content;
    width: min-content;
    align-items: center;

    li {
      margin: 0 2.4em 0 0;
      height: min-content;
      cursor: pointer;

      a {
        color: black;
      }
    }
    .join-btn {
      padding: 0.3em 2em;
      margin: 0;
      background-color: $blue;
      border-radius: 2em;
      box-shadow: $mainshadow;
      cursor: pointer;
      a {
        color: white;
      }
    }
  }
}

.hero-block {
  margin: 10em 0 0 8em;
  display: flex;
  flex-direction: column;

  .title {
    margin: 0;
    width: fit-content;
  }

  p {
    width: 25em;
    margin: 0.6em 0 0 0.2em;
  }

  .hero-join {
    width: fit-content;
    padding: 0.3em 2em;
    margin: 1em 0 0 0;
    background-color: $red;
    color: white;
    border-radius: 2em;
    cursor: pointer;
    box-shadow: $mainshadow;
    transition: transform 0.2s ease-in;

    &:hover {
      transform: scale(1.02);
    }
  }
}

#red-blob {
  align-self: flex-end;
  z-index: -2;
  margin: -10em -10em;
  width: 35em;
  filter: drop-shadow($mainshadow);
}

.even-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  .even {
    width: calc(100% - 16em);
    margin: 15em 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .even-block {
      height: fit-content;
      h1 {
        margin: 0;
        width: fit-content;
      }

      p {
        width: 25em;
        margin: 0.6em 0 0 0.2em;
      }
    }
  }
}

.odd-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  .odd {
    width: calc(100% - 16em);
    margin: 15em 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .odd-block {
      height: fit-content;
      h1 {
        margin: 0;
        width: fit-content;
      }

      p {
        width: 25em;
        margin: 0.6em 0 0 0.2em;
      }
    }
  }
}

#polarization-graph {
  height: 100%;
  width: 18em;
  filter: drop-shadow(0.2em 0.2em 0.8em #d3d3d3);
  user-select: none;
}

#glaciers {
  width: 36em;
  filter: drop-shadow(0.2em 0.2em 0.8em #d3d3d3);
}

#handshake {
  width: 32em;
  filter: drop-shadow(0.2em 0.2em 0.8em #d3d3d3);
}

.mountains {
  margin: 25em 0 -0.1em 0;
  display: flex;
  width: 100%;
  max-width: 1536px;
  justify-content: space-between;
  align-items: flex-end;

  #left-mnt {
    width: 12em;
    height: calc(12em / 2.33995663);
  }
  #right-mnt {
    width: 12em;
    height: calc(12 / 2.203629)em;
  }
}
.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.top {
  background-color: $purple;
  height: 4.2em;

  .sections {
    width: 25em;
    display: flex;
    justify-content: space-between;
    a {
      font-weight: 400;
      margin: 0;
      font-size: 1.2em;
      color: $greypurple;
      transition: color 0.2s ease-in;
      

      &:hover {
        color: #f6f6ff;
      }
    }
  }
}

.bottom {
  background-color: $darkpurple;
  height: 3em;
  border-top: #5f6069 1px solid;
  margin: 0;
  .contents {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    max-width: 1536px;
    align-items: center;

    #footer-logo {
      width: 4.5em;
      cursor: pointer;
      height: calc(4.5em / 2.39458422);
    }
    .social-icons {
      display: flex;
      width: 5.6em;
      justify-content: space-between;

      a {
        height: 1em;

        svg {
          height: 1em;
        }
      }
    }
    p {
      margin: 0;
      color: $greypurple;
      font-size: 1em;
      margin-left: auto;
    }
  }
}
