@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Poppins:wght@300;400;500;700&display=swap');
$blue: #012765;
$red: #B30C33;
$offwhite: #EFEFEF;
$mainshadow: 0.4em 0.4em 1.5em #b4b4b4;

html {
    display: flexbox;
}



body {
    border-radius: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    display: flex;
    overflow-x: hidden;
}

.center-container {
    width: 100vw;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
}

.top-section {
    display: flex;
    justify-content: space-between;
    width: 100%;

    #svg-logo {
        width: 28em;
        height: 100%;
        margin: -4.4em 0 0 -4em;
        filter: drop-shadow($mainshadow);
    }
    
    .navbar {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 2em 3em 0 0;
        margin: 0;
        height: min-content;
        width: min-content;
        align-items: center;

        li {
            margin: 0 2.4em 0 0;
            height: min-content;
            cursor: pointer;

            a {
                color: black;
                font-size: 1.4em;
                font-weight: 500;
            }
        }
        .join-btn {
            padding: 0.3em 2em;
            margin: 0;
            background-color: $blue;
            border-radius: 2em;
            box-shadow: $mainshadow;
            cursor: pointer;
            a {
                color: white;
                font-size: 1.4em;
                font-weight: 500;
            }
        }
    }
}

.hero-block {
    margin: 11em 0 0 11em;
    display: flex;
    flex-direction: column;

    .title {
        margin: 0;
        width: fit-content;
    }

    p {
        width: 25em;
        margin: .6em 0 0 .2em;
    }

    .hero-join {
        width: fit-content;
        padding: 0.3em 2em;
        margin: 1em 0 0 0;
        font-size: 1.4em;
        font-weight: 500;
        background-color: $red;
        color: white;
        border-radius: 2em;
        cursor: pointer;
        box-shadow: $mainshadow;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.02);
        }
    }
}

#red-blob {
    align-self: flex-end;
    z-index: -2;
    margin: -10em -10em;
    width: 35em;
    filter: drop-shadow($mainshadow);
}


.second-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;

    .second {
        width: calc(100% - 22em);
        margin: 15em 0 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        #polarization-graph {
            height: 100%;
            width: 16em;
        }

        .second-block {
            height: fit-content;
            h1 {
                margin: 0;
                width: fit-content;
            }

            p {
                width: 25em;
                margin: .6em 0 0 .2em;
            }
        }

        
    }

}

.footer {
    display: flex;
    background-color: $offwhite;
    width: 100%;
    margin: 20em 0 0 0;
    height: 20em;
    justify-content: center;
    align-items: center;

    h1 {
        color: black;
    }
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: 4.5em;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.4em;
}