@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Poppins:wght@300;400;500;700&display=swap");
$blue: #012765;
$red: #b30c33;
$offwhite: #efefef;
$mainshadow: 0.4em 0.4em 1.5em #a39f9f;
$greypurple: #c0c1ca;
$purple: #272b42;
$darkpurple: #181b29;

html {
  display: flexbox;
  ::selection {
    color: white;
    background-color: rgba(0, 0, 0, 0.99);
  }
}

.noscroll {
  overflow-y: hidden !important;
}

html,
body,
.safari-trash {
  overflow-x: hidden !important;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-size: 70px;
}

p {
  font-weight: 300;
  font-size: 20px;
}

.center-container {
  width: 100vw;
  max-width: 1536px;
  display: flex;
  flex-direction: column;
}

.top-section {
  display: flex;
  justify-content: space-between;
  width: 100%;

  #svg-logo {
    width: 30em;
    height: 100%;
    margin: -2.1em 0 0 -6.2em;
    cursor: pointer;
    filter: drop-shadow($mainshadow);
  }

  #hamburger {
    display: none;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 2em 2em 0 0;
    margin: 0;
    height: min-content;
    width: min-content;
    align-items: center;

    li {
      margin: 0 2.4em 0 0;
      height: min-content;
      cursor: pointer;

      a {
        color: black;
        transition: color 0.1s ease-in;
      }
      :hover {
        transition: color 0.1s ease-in;
        color: #2b3850;
      }
    }
    .join-btn {
      padding: 0.3em 2em;
      margin: 0;
      background-color: $blue;
      border-radius: 2em;
      box-shadow: $mainshadow;
      cursor: pointer;
      a {
        color: white;
      }
    }
  }
}

#overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 0;
  position: fixed;
  overflow-x: hidden;
  z-index: 9999;
  margin: 0;
  padding: 0;
  background-color: white;
  transition: 0.5s;
  li {
    list-style-type: none;
    margin-bottom: 10vh;
    a {
      color: black;
      font-size: 4em;
      font-family: "Libre Baskerville", serif;
      height: min-content;
    }
  }
  li:last-child {
    margin-bottom: 0;
  }
}

.hero-cont {
  margin: 11em 0 8em;
  display: flex;
  align-items: center;
  overflow: visible;
  .hero-block {
    margin: 0 0 0 6em;
    display: flex;
    flex-direction: column;
    min-width: fit-content;

    .title {
      margin: 0;
      width: fit-content;
    }

    p {
      width: 24em;
      margin: 0.8em 0 0 0.2em;
    }

    .hero-join {
      width: fit-content;
      padding: 0.3em 2em;
      margin: 1em 0 0 0;
      background-color: $red;
      color: white;
      border-radius: 2em;
      cursor: pointer;
      box-shadow: $mainshadow;
      transition: transform 0.2s ease-in;

      &:hover {
        transform: scale(1.02);
      }
    }
  }
  #hero-illustration {
    width: 60em;
    min-width: 60em;
    margin-left: -6.5em;
    z-index: -1;
  }
}

.even-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  .even {
    width: calc(100% - 12em);
    margin: 15em 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .even-block {
      height: fit-content;
      h1 {
        margin: 0;
        width: fit-content;
      }

      p {
        width: 22em;
        margin: 0.6em 0 0 0.2em;
      }
    }
  }
}

.odd-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  .odd {
    width: calc(100% - 12em);
    margin: 15em 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .odd-block {
      height: fit-content;
      h1 {
        margin: 0;
        width: fit-content;
      }

      p {
        width: 22em;
        margin: 0.6em 0 0 0.2em;
      }
    }
  }
}

#polarization-graph {
  height: auto;
  width: 34em;
  filter: drop-shadow(0.2em 0.2em 0.8em #d3d3d3);
  user-select: none;
  cursor: default;

  #line-lines_ {
    stroke: black;
    stroke-width: 3px;
  }
}

#glaciers {
  width: 36em;
  filter: drop-shadow(0.2em 0.2em 0.8em #d3d3d3);
  height: auto;
}

#handshake {
  width: 32em;
  height: auto;
  filter: drop-shadow(0.2em 0.2em 0.8em #d3d3d3);
}

.mountains {
  margin: 25em 0 -1px 0;
  display: flex;
  width: 100%;
  max-width: 1536px;
  justify-content: space-between;
  align-items: flex-end;

  #left-mnt {
    width: 12em;
    height: calc(12em / 2.33995663);
  }
  #right-mnt {
    width: 12em;
    height: calc(12 / 2.203629) em;
  }
}
.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.top {
  background-color: $purple;
  height: 5.4em;

  .sections {
    width: 25em;
    display: flex;
    justify-content: space-between;
    a {
      font-weight: 400;
      margin: 0;
      font-size: 1.2em;
      color: $greypurple;
      transition: color 0.2s ease-in;

      &:hover {
        color: #f6f6ff;
      }
    }
  }
}

.bottom {
  background-color: $darkpurple;
  height: 4em;
  .contents {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    max-width: 1536px;

    #footer-logo {
      width: 4.5em;
      cursor: pointer;
      height: calc(4.5em / 2.39458422);
      margin: auto 0;
    }
    .social-icons {
      display: flex;
      width: 6.2em;
      justify-content: space-between;
      align-items: center;
      margin: auto 0;
      svg {
        height: 1.25em;
        cursor: pointer;
        path {
          transition: fill 0.2s ease-in;
        }
        &:hover {
          path {
            fill: #f6f6ff;
          }
        }
      }
    }
    p {
      padding: 0;
      color: $greypurple;
      font-size: 1em;
      height: min-content;
      margin: auto 0 auto auto;
    }
  }
}

@media (max-width: 1350px) {
  .hero-cont {
    #hero-illustration {
      margin-left: -7em;
    }
  }
  body {
    font-size: 14px;
  }
  a,
  p {
    font-size: 18px;
  }
  h1 {
    font-size: 66px;
  }
}

@media (max-width: 1180px) {
  .hero-cont {
    #hero-illustration {
      margin-left: -7.2em;
    }
  }
  body {
    font-size: 13px;
  }
  a,
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 60px;
  }
}

@media (max-width: 1090px) {
  .hero-cont {
    #hero-illustration {
      margin-left: -7.5em;
    }
  }
  body {
    font-size: 13px;
  }
  a,
  p {
    font-size: 15px;
  }
  h1 {
    font-size: 52px;
  }
}

@media (max-width: 1015px) {
  .hero-cont {
    #hero-illustration {
      margin-left: -9em;
    }
  }
  body {
    font-size: 12px;
  }
  a,
  p {
    font-size: 14px;
  }
  h1 {
    font-size: 54px;
  }
}

@media (max-width: 950px) {
  .hero-cont {
    #hero-illustration {
      margin-left: -9em;
    }
  }
  body {
    font-size: 10px;
  }
  a,
  p {
    font-size: 13.5px;
  }
  h1 {
    font-size: 48px;
  }
}

@media (max-width: 840px) {
  .hero-cont {
    #hero-illustration {
      margin-left: -10.5em;
    }
  }
  body {
    font-size: 10px;
  }
  a,
  p {
    font-size: 13.5px;
  }
  h1 {
    font-size: 48px;
  }
}

@media (max-width: 810px) {
  .hero-cont {
    #hero-illustration {
      margin-left: -10em;
      width: 55em;
      min-width: 55em;
    }
  }

  #polarization-graph {
    width: 28em;
  }

  #handshake {
    width: 26em;
  }
  body {
    font-size: 10px;
  }
  a,
  p {
    font-size: 13px;
  }
  h1 {
    font-size: 44px;
  }
}

@media (max-width: 680px) {
  .hero-cont {
    #hero-illustration {
      margin-left: -11em;
      width: 50em;
      min-width: 50em;
    }
  }

  #polarization-graph {
    width: 25em;
  }

  #handshake {
    width: 25em;
  }

  #glaciers {
    width: 30em;
  }
  body {
    font-size: 10px;
  }
  a,
  p {
    font-size: 12px;
  }
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 625px) {
  #polarization-graph {
    width: 22em;
  }

  #handshake {
    width: 22em;
  }

  #glaciers {
    width: 30em;
  }
  h1 {
    font-size: 38px;
  }
}

@media (max-width: 600px) {
  .top-section {
    align-items: center;
    .navbar {
      display: none;
    }
    #hamburger {
      display: block;
      width: 4em;
      height: auto;
      margin-right: 1em;
      cursor: pointer;
    }
  }

  p,
  a {
    font-size: 13px;
  }

  .hero-cont {
    flex-direction: column;
    justify-content: center;
    margin: 8em 0 0 0;
    width: 80%;
    max-width: 40em;
    align-self: center;

    .hero-block {
      width: fit-content;
      margin: 0;

      .title {
        width: auto;
      }
      p {
        width: auto;
      }
    }

    #hero-illustration {
      margin: 4em 0 0 0;
      width: 100%;
      min-width: 100%;
      height: auto;
    }
  }

  .even-cont {
    .even {
      flex-direction: column-reverse;
      width: 92%;
      max-width: 36em;
      padding: 3em 0;
      background-color: $purple;
      border-radius: 25px;
      box-shadow: $mainshadow;

      .even-block {
        margin-bottom: 5em;
        align-items: center;
        display: flex;
        flex-direction: column;

        h1,
        p {
          color: white;
          width: 80%;
        }
      }
    }
  }

  .odd-cont {
    .odd {
      flex-direction: column;
      width: 92%;
      max-width: 36em;
      padding: 3em 0;
      background-color: $purple;
      border-radius: 25px;
      box-shadow: $mainshadow;

      .odd-block {
        margin-bottom: 5em;
        align-items: center;
        display: flex;
        flex-direction: column;

        h1,
        p {
          color: white;
          width: 80%;
        }
      }
    }
  }

  #polarization-graph {
    width: 20em;
    filter: drop-shadow(0.2em 0.2em 0.8em $darkpurple);
    #text-lines_ {
      fill: white;
    }
    #line-lines_ {
      stroke: white;
      stroke-width: 2px;
    }
  }
  #glaciers {
    filter: drop-shadow(0.2em 0.2em 0.8em $darkpurple);
  }
  #handshake {
    filter: drop-shadow(0.2em 0.2em 0.8em $darkpurple);
  }

  .top {
    height: 6.8em;
  }
  .bottom {
    height: 5em;
  }
}
